<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <style>
            body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
   
    margin: 0; 
    font-family: Arial, sans-serif; 
}

 header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 600px;
 }
.main {
    text-align: center; 
    margin-top: 70px;
}
h1 {
    margin-bottom: 20px; 
}
p {
    margin: 10px 0; 
}
a {
font-size: 30px;
}
  
        </style>
   </head>
   <body >
    
        <header>
            <a href="/">Home</a>
            
            <a href="/login">login</a>
            
        </header>

        <div class="main">
            <h2>topic 1: User role controlled by request parameter</h2> 
        </div>

    </body>
</html>